.layout {
  display: flex;
  height: 100vh;
  padding-top: 100px;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa; 
  color: black;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
}

.app-content {
  margin-left: 200px; 
  flex-grow: 1;
  padding: 20px;
}

.app-header {
  width: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 200px; 
  z-index: 1000;
}
.app-card {
  display: 'flex';
  flex-direction:'column';
  gap:'24px'
}